@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Outrun";
  src: url("../public/fonts/Outrun future Bold.otf");
}

@font-face {
  font-family: "StillTime";
  src: url("../public/fonts/Still Time.otf");
}

@font-face {
  font-family: "AstronBoy";
  src: url("../public/fonts/Astron Boy.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  font-size: 16px;
}

h1 {
  /* clamp(MIN, PREFERRED, MAX) */
  font-size: clamp(1.5rem, 5vw, 3rem);
}

/* On Phones */
@media (max-width: 480px) {
  html {
    font-size: 14px; /* Everything using 'rem' just shrunk by about 12%! */
  }
}