
.background {
    width: 100%;
    height: 100vh;
    background-image: url("../public/record_half.jpg");
    background-size: 1600px 700px;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: -1;
}

.gradient {
    background-image: linear-gradient(to bottom, rgba(255, 156, 57, 0.4), rgba(41, 102, 201, 0.4));
}

.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 30px;
}


/* header */
.header {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
    grid-row: 1/2;
    grid-column: 2/6;
    display: flex;
    justify-content: center;
}

.titleFirstHalf {
    flex: 1;
    font-family: "Outrun", cursive;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    color: white;

    background-image: url("../public/record-player.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 8px 8px 3px #888;
}

.titleSecondHalf {
    flex: 1;
    font-family: "Outrun", cursive;
    font-size: 80px;
    text-align: center;
    background-color: transparent;
}


/* content */
.content {
    margin: 20px;
    height: 92.5%;
    grid-row: 2/3;
    grid-column: 2/6;
    background-color: rgba(20, 20, 30, 0.7);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    border: 1px solid rgba(244, 255, 129, 0.3);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
}

.links {
    grid-column: 1/2;

    background-color: whitesmoke;
}

.topics {
    grid-column: 2/6;
}


/* left and right sides */
.leftSide, .rightSide {
    background-color: rgba(41, 102, 201, 0.2);
}

.leftSide {
    grid-row: 1/3;
    grid-column: 1/2;
}

.rightSide {
    grid-row: 1/3;
    grid-column: 6/7;
}