
.gradient {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 156, 57, 0.6), rgba(41, 102, 201, 0.6)), url("../public/record_half.jpg");
    background-size: 1500px 600px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 10px;
}


/* header */
.header {
    margin-top: 30px;
    grid-row: 1/2;
    grid-column: 2/6;
    background-image: url("../public/record-player.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 85%;
    display: flex;
    justify-content: center;
}

.titleFirstHalf {
    flex: 1;
    font-family: "Outrun", cursive;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    color: white;
}

.titleSecondHalf {
    flex: 1;
    font-size: 100px;
    text-align: center;
    background-color: rgb(255, 156, 57);
}


/* content */
.content {
    height: 800px;
    grid-row: 2/3;
    grid-column: 2/6;
}


/* left and right sides */
.leftSide, .rightSide {
    background-color: rgba(41, 102, 201, 0.3);
}

.leftSide {
    grid-row: 1/3;
    grid-column: 1/2;
}

.rightSide {
    grid-row: 1/3;
    grid-column: 6/7;
}