
.gradient {
    background-image: linear-gradient(to bottom, rgba(254, 180, 123, 0.6), rgba(41, 102, 201, 0.6)), url("../public/record.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    width: 1100px;
    height: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 200px 1fr;
    row-gap: 10px;
}


/* header */
.header {
    margin-top: 30px;
    background-image: url("../public/record-player.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-position: 50% 85%;
}

.mainTitle {
    font-weight: 700;
    font-size: 2em;
}


/* content */
.content {
    height: 800px;
}