
.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../public/record_half.jpg");
    background-size: 97.5% 85%;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: -1;
}

.gradient {
    background-image: linear-gradient(to bottom, rgba(255, 156, 57, 0.4), rgba(41, 102, 201, 0.4));
}

.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 9.5rem 1fr;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1.75rem;
}



/* header */
.header {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 0.75rem;
    grid-row: 1/2;
    grid-column: 2/6;
    display: flex;
    justify-content: center;
}

.titleFirstHalf {
    flex: 1;
    font-family: "Outrun", cursive;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: white;

    background-image: url("../public/record-player.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: .5rem .5rem .1rem #888;
}

.titleSecondHalf {
    flex: 1;
    font-family: "Outrun", cursive;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
}



/* content */
.content {
    margin: 1.25rem;
    height: 92.5%;
    grid-row: 2/3;
    grid-column: 2/6;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-areas:
    "side  content  content  content  content  content  content  content  content  content content content content .";
    column-gap: .75rem;
}

.links {
    grid-area: side;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
}

.icon {
    width: 3rem;
    height: 3rem;

    border: 1px solid black;
    border-radius: 50%;

    transition: all 0.3s ease;
}

.icon:hover {
    background: white;
    color: black;
    transform: scale(1.1);
}

/* actual contents */
.topics {
    grid-area: content;

    max-height: 75vh;

    padding: .75rem 1.75rem;
    color: white;
    background-color: rgba(20, 20, 30, 0.7);
    backdrop-filter: blur(15px);
    border-radius: 1.75rem;
    border: 1px solid rgba(244, 255, 129, 0.3);
    box-shadow: 0 10px 1.75rem rgba(0,0,0,0.5);


    white-space: normal;
    overflow: auto;       /* Hide the extra */

    display: grid;
    grid-template-rows: 3rem 1fr;
}

.tabs {
    grid-row: 1;
    border-bottom: 1px solid rgba(244, 255, 129, 0.3);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}

.tab {
}

.tab:active {
    color: gray;

}

.contentArea {
    grid-row: 2;

    margin-top: 1.25rem;
}



/* left and right sides */
.leftSide, .rightSide {
    background-color: rgba(41, 102, 201, 0.2);
}

.leftSide {
    grid-row: 1/3;
    grid-column: 1/2;
}

.rightSide {
    grid-row: 1/3;
    grid-column: 6/7;
}