
.background {
    width: 100%;
    height: 100vh;
    background-image: url("../public/record_half.jpg");
    background-size: 1600px 700px;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: -1;
}

.gradient {
    background-image: linear-gradient(to bottom, rgba(255, 156, 57, 0.6), rgba(41, 102, 201, 0.6));
}

.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 20px;
}


/* header */
.header {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    grid-row: 1/2;
    grid-column: 2/6;
    background-image: url("../public/record-player.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70px center;
    display: flex;
    justify-content: center;
}

.titleFirstHalf {
    flex: 1;
    font-family: "Outrun", cursive;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    color: white;
    box-shadow: 8px 8px 3px #888;
}

.titleSecondHalf {
    margin-left: 5px;
    flex: 1;
    font-size: 80px;
    text-align: center;
    background-color: rgb(255, 156, 57);
}


/* content */
.content {
    margin: 20px;
    height: 90%;
    grid-row: 2/3;
    grid-column: 2/6;
    background-color: #C8D1BC;
}


/* left and right sides */
.leftSide, .rightSide {
    background-color: rgba(41, 102, 201, 0.2);
}

.leftSide {
    grid-row: 1/3;
    grid-column: 1/2;
}

.rightSide {
    grid-row: 1/3;
    grid-column: 6/7;
}