
.gradient {
    background-image: linear-gradient(to bottom, rgba(254, 180, 123, 0.6), rgba(41, 102, 201, 0.6)), url("../public/record.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    display: grid;
    width: 1000px;
    justify-content: center;
}

/* header */
.header {
    height: 250px;
    width: 1500px;
    background-image: url("../public/record-player.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

.mainTitle {
    font-weight: 700;
    font-size: 2em;
}

/* content */
.content {
    height: 800px;
}